@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
*
{
    font-family: "Oswald",sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html
{
    display: flex;
    justify-content: center;
    align-items: center;
}
body
{
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color:rgb(77, 57, 150);

}
.Bmi-container
{
    width: 800px;
    height:500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
}
.box
{
    width: 350px;
    background-image: url("assets/bmifurit.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
}
.data
{
    flex: 1;
    padding: 15px;
}
h1
{
    font-weight:500 ;
    margin-bottom: 20px;
    padding: 10px 0px;
    text-transform: uppercase;
    font-size: 25px;
    color:rgb(80, 54, 173);
}
.input-container
{
    margin-bottom: 15px;
}
label
{
  display: block;
  color:rgb(80, 54, 173); 
  margin-bottom: 5px;
}
input{
    width:100%;
    padding: 10px 20px;
    border: 1px solid rgb(80, 54, 173);
    border-radius: 20px;
    font-size: 18px;
}
button
{
    background-color: rgb(80, 54, 173); 
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}
button:nth-of-type(2)
{
    margin-left: 10px;
    background-color: red;
}
button:hover
{
    transition: background-color 0.3s;
    background-color: rgba(80, 54, 173, 0.861);
}
button:nth-of-type(2):hover
{
    transition: background-color 0.3s;
    background-color: rgb(194, 41, 41);
}
.result
{
    margin-top: 20px;
    padding: 10px;
    border: 1px solid  rgb(80, 54, 173); 
    border-radius: 10px;
}
.result p{
    margin: 10px 0;
    color: rgb(0, 0, 0)
}
.result p:first-child{
    color: rgb(80, 54, 173);
    font-weight: bold;
}
.error
{
color: red;
margin-bottom: 10px;
}